In [1]:
from pandas_datareader import data
from openpyxl import load_workbook
import pandas as pd

In [2]:
#samsung last 5 year data (from 2013 ) google finance
samsung_electronics = data.DataReader('KRX:005930', 'google', '2013-01-01')

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('samsung_dataset.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
samsung_electronics.to_excel(writer, sheet_name='Sheet')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

/usr/local/lib/python2.7/dist-packages/pandas_datareader/google/daily.py:40: UnstableAPIWarning:
The Google Finance API has not been stable since late 2017. Requests seem
to fail at random. Failure is especially common when bulk downloading.

  warnings.warn(UNSTABLE_WARNING, UnstableAPIWarning)

In [3]:
df = pd.read_excel("samsung_dataset.xlsx") #Reading the dataset (dataframe) 
df.head()#shows the top 5 rows

        Date     Open     High      Low    Close  Volume
0 2013-01-02  1533000  1576000  1527000  1576000  226790
1 2013-01-03  1582000  1584000  1543000  1543000  277934
2 2013-01-04  1540000  1542000  1510000  1525000  256920
3 2013-01-07  1515000  1528000  1500000  1520000  250247
4 2013-01-08  1513000  1517000  1498000  1500000  264689

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1269 entries, 0 to 1268
Data columns (total 6 columns):
Date      1269 non-null datetime64[ns]
Open      1269 non-null int64
High      1269 non-null int64
Low       1269 non-null int64
Close     1269 non-null int64
Volume    1269 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 59.6 KB

In [5]:
#change=open price of next day - close price of today(first row and last row not included)(target or dependent column) it will become the value to be predicted
change=[]
for i in range (1,len(df)-1):
    change.append(df['Open'][i+1]-df['Open'][i])

In [6]:
#Hchange =high price of today - high price of previous day (first row and last row not included )
Hchange=[]
for i in range (1,len(df)-1):
    Hchange.append(df['High'][i]-df['High'][i-1])

In [7]:
#Lchange =Low price of today - Low price of previous day (first row and last row not included )
Lchange=[]
for i in range (1,len(df)-1):
    Lchange.append(df['Low'][i]-df['Low'][i-1])

In [8]:
#Vchange = Volume today - Volume previous day (first row and last row not included )
Vchange=[]
for i in range (1,len(df)-1):
    Vchange.append(df['Volume'][i]-df['Volume'][i-1])

In [9]:
#Ochange = open price of today - Open price of previous day (first row and last row not included )
Ochange=[]
for i in range (1,len(df)-1):
    Ochange.append(df['Open'][i]-df['Open'][i-1])

In [10]:
#Cchange = close price of today - Close price of previous day (first row and last row not included )
Cchange=[]
for i in range (1,len(df)-1):
    Cchange.append(df['Close'][i]-df['Close'][i-1])

In [11]:
#Avg price of day= (low price + high price)/2  (first row and last row not included )
Avg=[]
for i in range (1,len(df)-1):
    Avg.append( int(df['Low'][i] + df['High'][i])/2 )

In [12]:
samsung_electronics=samsung_electronics.drop(samsung_electronics.index[0]) #delete first row

In [13]:
samsung_electronics=samsung_electronics.drop(samsung_electronics.index[len(samsung_electronics)-1]) #delete last row

In [14]:
samsung_electronics=samsung_electronics.drop('Open', axis=1)

In [15]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('samsung_dataset_final.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
samsung_electronics.to_excel(writer, sheet_name='Sheet')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [16]:
#Open an xlsx for reading
wb = load_workbook('samsung_dataset_final.xlsx')
#Get the current Active Sheet
ws = wb.get_active_sheet()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated function get_active_sheet (Use the .active property).
  after removing the cwd from sys.path.

In [17]:
ws.cell(row=1,column=6).value="Avg_price"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=6).value=Avg[i]
    row+=1


ws.cell(row=1,column=7).value="Open_change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=7).value=Ochange[i]
    row+=1
    
ws.cell(row=1,column=8).value="High_change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=8).value=Hchange[i]
    row+=1  
    
ws.cell(row=1,column=9).value="Low_change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=9).value=Lchange[i]
    row+=1  
     
ws.cell(row=1,column=10).value="Close_change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=10).value=Cchange[i]
    row+=1 

ws.cell(row=1,column=11).value="Volume_change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=11).value= Vchange[i]
    row+=1 
    
ws.cell(row=1,column=12).value="Tomorrow_Change"
row=2
for i in range(0,len(samsung_electronics)):
    ws.cell(row=row,column=12).value=change[i]
    row+=1 
    
wb.save('samsung_dataset_final.xlsx')